
$font: 'Gilroy', sans-serif
$helperFont: 'MuseoSansRounded', sans-serif

//$bgColor: #ffffff
//$fontColor: #000000
//
//$accentColor: #1269CF
//
//$redColor: #FF0505
//$greenColor: #11D000
//$helperColor: #454545
//$helperColor2: #F8F8F8

//$accentColor: #2E476E
//$helperColor: #6F7A8E
//$helperColor2: #AFB8CA
//$mainColor: #ffffff
//$disabledBg: #E8F3FB

$backgroundColor: #FFFFFF
$fontColor: #414141
$helperColor: #000000
$helperColor2: #FAFAFA
$helperColor3: #E8E8E8
$helperColor4: #979797

$accentColor: #8A3FB7
$accentColor2: #4F0D77
