
$font: 'Gilroy', sans-serif
$helperFont: 'FuturaPT', sans-serif

$bgColor: #ffffff
$fontColor: #000000

$accentColor: #1269CF

$redColor: #FF0505
$greenColor: #11D000
$helperColor: #454545
$helperColor2: #F8F8F8
