<div class="login">
  <div class="container">
    <h1 class="login__title">
      State Building Game
    </h1>
    <div class="subtitle">
      <p>Choose the platform</p>
    </div>
    <form class="login__form">
      <div class="login__checkbox-wrapper">
        <div class="login__checkbox">
          <input type="radio" checked id="minecraft" name="login">
          <label for="minecraft" class="login__checkbox-label">
            Minecraft
          </label>
        </div>
        <div class="login__checkbox">
          <input type="radio" id="videoCall" name="login">
          <label for="videoCall" class="login__checkbox-label">
            Video call
          </label>
        </div>
      </div>
      <h2 class="login__subtitle">Enter your personal code</h2>

      <label class="login__label" for="username">
        <input
          class="login__input"
          type="text" placeholder="Username" id="username" name="username" required>
      </label>
      <label class="login__label" for="password">
        <input
          class="login__input"
          type="password" placeholder="Password" id="password" name="password" required>
      </label>

      <button class="button button--center button--big" type="submit">Continue</button>
    </form>
  </div>
</div>
