<div class="role-selection">
  <div class="container">
    <div class="role-selection__inner-wrapper">
      <div class="role-selection__col role-selection__col--active">
        <div class="role-selection__arrow role-selection__arrow--left"></div>
        <div class="role-selection__arrow role-selection__arrow--left"></div>
        <a href="#"  class="role-selection__block">
          <div class="role-selection__role role">
            <div class="role__icon">
              <img src="img/user-icon.svg" alt="User icon">
            </div>
            <div class="role__name">
              Студент
            </div>
          </div>
          <div class="role-selection__info">
            Виявляється, студетське життя - це не лише іспити та побачення з дівчатами в темних кутках гуртожитку. Від твоєї проактивності залежить твій комфорт та якість навчання всієї студентської громади!
          </div>
          <button class="start-button">
            <span>
              ПОЧАТИ
            </span>
          </button>
        </a>
      </div>
      <div class="role-selection__col role-selection__col--active">
        <div class="role-selection__arrow role-selection__arrow--right"></div>
        <div class="role-selection__arrow role-selection__arrow--right"></div>
        <a href="#" class="role-selection__block">
          <div class="role-selection__role role">
            <div class="role__icon">
              <img src="img/user-icon--boss.svg" alt="Boss">
            </div>
            <div class="role__name">
              Підприємець
            </div>
          </div>
          <div class="role-selection__info role-selection__info--text-center">
            Щоб відкрити, треба пройти “Студента” з показником “Гроші” > 50
          </div>
          <div class="role-selection__status">
            <div class="role-selection__status-icon">
              <img src="img/status-money.svg" alt="Money">
            </div>
            <div class="role-selection__status-size">
              50
            </div>
          </div>
          <button class="start-button">
            <span>
              ПОЧАТИ
            </span>
          </button>
        </a>
        <a href="#" class="role-selection__block">
          <div class="role-selection__role role">
            <div class="role__icon">
              <img src="img/user-icon--active.svg" alt="Active">
            </div>
            <div class="role__name">
              Активіст
            </div>
          </div>
          <div class="role-selection__info role-selection__info--text-center">
            Щоб відкрити, треба пройти “Студента” з показником “Репутація” > 50
          </div>
          <div class="role-selection__status">
            <div class="role-selection__status-icon">
              <img src="img/status-reputation.svg" alt="Reputation">
            </div>
            <div class="role-selection__status-size">
              50
            </div>
          </div>
          <button class="start-button">
            <span>
              ПОЧАТИ
            </span>
          </button>
        </a>
        <a href="#" class="role-selection__block">
          <div class="role-selection__role role">
            <div class="role__icon">
              <img src="img/user-icon--official.svg" alt="Official">
            </div>
            <div class="role__name">
              Чиновник
            </div>
          </div>
          <div class="role-selection__info role-selection__info--text-center">
            Щоб відкрити, треба пройти “Студента” з показником “Законність” > 50
          </div>
          <div class="role-selection__status">
            <div class="role-selection__status-icon">
              <img src="img/status-legality.svg" alt="Legality">
            </div>
            <div class="role-selection__status-size">
              50
            </div>
          </div>
          <button class="start-button">
            <span>
              ПОЧАТИ
            </span>
          </button>
        </a>
      </div>
      <div class="role-selection__col role-selection__col--active">
        <a href="#" class="role-selection__block">
          <div class="role-selection__role role">
            <div class="role__icon">
              <img src="img/user-icon--leader.svg" alt="Leader">
            </div>
            <div class="role__name">
              Лідер громадської
              організації
            </div>
          </div>
          <div
            class="role-selection__info role-selection__info--padding-left  role-selection__info--margin-top">
            Щоб відкрити, треба пройти всіх персонажів другого рівня
          </div>
          <button class="start-button">
            <span>
              ПОЧАТИ
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
