<div class="stats">
  <div class="container">
    <div class="stats__inner-wrapper">
      <div class="stats__info">
        <span>0</span>
        <span>50</span>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Business
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(32% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(32% * 2 - 16px)">32</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Bureaucrafts
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(43% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(43% * 2 - 16px)">43</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Pensioners
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(15% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(15% * 2 - 16px)">15</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Artists and workers of the cultural sphere
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(15% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(15% * 2 - 16px)">15</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Law enforcement officers and judges
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(44% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(44% * 2 - 16px)">44</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Media
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(20% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(20% * 2 - 16px)">20</div>
        </div>
      </div>
      <div class="stats__item">
        <div class="stats__title">
          Civil activists
        </div>
        <div class="stats__progress-wrapper">
          <div class="stats__progress" style="width: calc(10% * 2 - 16px)"></div>
          <div class="stats__progress-value" style="width: calc(10% * 2 - 16px)">10</div>
        </div>
      </div>
    </div>
  </div>
</div>
