<footer class="footer">
  <div class="container">
    <div class="footer__inner-wrapper">
      <h2 class="footer__title title">
        Про проект
      </h2>
      <div class="footer__description">
        Гра розроблена на основі курсу з громадянської освіти <a href="#">
        "Демократія: від теорії до практики"
      </a>
      </div>
      <div class="footer__info">
        Зусилля Міжнародної фундації виборчих систем (IFES) щодо зміцнення демократичного прогресу в Україні підтримуються Агентством США з міжнародного розвитку (USAID), Міністерством міжнародних справ Канади та британською допомогою від уряду Великої Британії. Будь-які викладені тут думки належать авторам і не обов’язково відображають погляди USAID, урядів США, Канади та Великої Британії.
      </div>
      <ul class="footer__logo-list">
        <li class="footer__logo">
          <a href="#">
            <img src="img/footer-logo-1.png" alt="USAID">
          </a>
        </li>
        <li class="footer__logo">
          <a href="#">
            <img src="img/footer-logo-2.png" alt="Canada">
          </a>
        </li>
        <li class="footer__logo">
          <a href="#">
            <img src="img/footer-logo-3.png" alt="ukaid">
          </a>
        </li>
        <li class="footer__logo">
          <a href="#">
            <img src="img/footer-logo-4.png" alt="МФВС">
          </a>
        </li>
        <li class="footer__logo">
          <a href="#">
            <img src="img/footer-logo-5.svg" alt="ДЕМОКРАТІЯ">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
