<div class="game-header">
  <div class="container">
    <div class="game-header__wrapper">
      <div class="game-header__user user">
        <img class="user__icon" src="img/avatar.png" alt="User icon">
        <div class="user__name">
          Сашко
        </div>
        <div class="user__status">
          Студент
        </div>
      </div>
      <div class="game-header__status-bar status-bar">
        <div class="status-bar__card">
          <img src="img/money.png" alt="Money" class="status-bar__image">
          <div class="status-bar__title">
            Гроші
          </div>
          <div class="status-bar__points">
            50
          </div>
        </div>
        <div class="status-bar__card">
          <img src="img/nerve.png" alt="Nerve" class="status-bar__image">
          <div class="status-bar__title">
            Нерви
          </div>
          <div class="status-bar__points">
            50
          </div>
        </div>
        <div class="status-bar__card">
          <img src="img/legal.png" alt="Legal" class="status-bar__image">
          <div class="status-bar__title">
            Легальність
          </div>
          <div class="status-bar__points">
            50
          </div>
        </div>
        <div class="status-bar__card">
          <img src="img/reputation.png" alt="Reputation" class="status-bar__image">
          <div class="status-bar__title">
            Репутація
          </div>
          <div class="status-bar__points">
            50
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
