<div class="game-body">
  <div class="container">
    <div class="game-body__content">
      <div class="game-body__question">
        <a href="#" class="game-body__back">
          Назад до персонажів
        </a>
        <div class="game-body__numbered-question">
          <span>1</span>/<span>5</span>
        </div>
        <h2 class="game-body__title">
          Вічна калюжа
        </h2>
        <div class="game-body__text">
          <p>
            Прямо біля вашого гуртожитку величезна яма. Після дощу в ній збирається величезна калюжа, яка постійно заважає сумлінно ходити на пари.
          </p>
          <p>
            Що робити?
          </p>
        </div>
      </div>
      <div class="game-body__image">
        <img src="img/intro-image.svg" alt="Game image">
      </div>
    </div>
    <ul class="game-body__answers">
      <li>
        <a href="#">
          Написати місцевій владі, аби звернула увагу
        </a>
      </li>
      <li>
        <a href="#">
          Полагодити дорогу самотужки
        </a>
      </li>
      <li>
        <a href="#">
          Пройтись по сусідам, зібрати гроші й організувати суботник для ремонту дороги.
        </a>
      </li>
      <li>
        <a href="#">
          Нічого не робити. Я ж податки сплачую,
          хай влада щось робить!
        </a>
      </li>
    </ul>
  </div>
</div>
