<div class="intro">
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__content">
        <a href="#" class="intro__logo logo">
          <img src="img/logo.svg" alt="Civil Activity Quest">
        </a>
        <h1 class="intro__title title title--main">
          Civil Activity Quest
        </h1>
        <div class="intro__text">
          <p>
            Ця гра – про наше життя. Про те, що ким би ми не були, нам весь час потрібно приймати рішення, які впливають і на нас, і на суспільство. Цей своєрідний соціальний експеримент дасть змогу перевірити себе в різних ситуаціях. Бажаємо Вам стати активним громадянином як у грі, так і в житті.
          </p>
          <p>
            Ви зможете зіграти одну з кількох соціальних ролей та взяти участь у інтерактивній грі. Обирайте відповідь на складні питання та реагуйте на стрессові ситуації, базуючись на власних знаннях та досвіді
          </p>
        </div>
        <div class="intro__button">
          <a href="#" class="button">
            ГРАТИ
          </a>
        </div>
      </div>
      <div class="intro__image">
        <img src="img/intro-image.svg" alt="Civil Activity Intro Image">
      </div>
    </div>
  </div>
</div>
