<div class="laws">
  <div class="container">
    <div class="subtitle">
      <h2>
        Section title short text
      </h2>
      <p>Choose the platform</p>
    </div>
    <div class="laws__tabs">
      <div class="laws__block active">
        <button class="laws__header">
          1
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
      <div class="laws__block">
        <button class="laws__header">
          2
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
      <div class="laws__block">
        <button class="laws__header">
          3
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
      <div class="laws__block">
        <button class="laws__header">
          4
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
      <div class="laws__block">
        <button class="laws__header">
          5
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
      <div class="laws__block">
        <button class="laws__header">
          6
        </button>
        <div class="laws__content">
          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.1 All banks are abolished except one state mega-bank. A strict and logical system is created, but companies are impacted and short-term chaos may commence.
              </p>
              <p>
                Business -7 Bureaucrats +15
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>

          <div class="laws__item">
            <div class="laws__text">
              <p>
                1.2 Cryptocurrency replaces classic money. This decrease the role of the state in the financial system, but allows to build a safe and logical system of monetary relations.
              </p>
              <p>
                Bureaucrats -15 Business +10 Vulnerable citizens +10 Media
              </p>
            </div>
            <button class="laws__button">
              Vote
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
