<div class="news">
  <div class="container">
    <div class="news__content">
      <div class="news__block">
        <h3 class="news__title">Title of the first news article</h3>
        <div class="news__text">
          <p>Et culpa et et. Excepturi maxime reiciendis sint consequatur eum voluptatibus corrupti. Facilis voluptatum
            mollitia illo
            omnis esse. Et commodi excepturi rerum numquam et reprehenderit doloribus et quia. Debitis aspernatur ullam ab
            voluptates vitae debitis. Est qui autem eum nisi sunt voluptas aliquam.
          </p>
        </div>
        <div class="news__info">
          John Doe,
          <time datetime="2021-18-01 20:32">
            Nov 18th, 20:32
          </time>
        </div>
      </div>
      <div class="news__block">
        <h3 class="news__title">Title of the first news article</h3>
        <div class="news__text">
          <p>Et culpa et et. Excepturi maxime reiciendis sint consequatur eum voluptatibus corrupti. Facilis voluptatum
            mollitia illo
            omnis esse. Et commodi excepturi rerum numquam et reprehenderit doloribus et quia. Debitis aspernatur ullam ab
            voluptates vitae debitis. Est qui autem eum nisi sunt voluptas aliquam.
          </p>
        </div>
        <div class="news__info">
          John Doe,
          <time datetime="2021-18-01 20:32">
            Nov 18th, 20:32
          </time>
        </div>
      </div>
      <div class="news__block">
        <h3 class="news__title">Title of the first news article</h3>
        <div class="news__text">
          <p>Et culpa et et. Excepturi maxime reiciendis sint consequatur eum voluptatibus corrupti. Facilis voluptatum
            mollitia illo
            omnis esse. Et commodi excepturi rerum numquam et reprehenderit doloribus et quia. Debitis aspernatur ullam ab
            voluptates vitae debitis. Est qui autem eum nisi sunt voluptas aliquam.
          </p>
        </div>
        <div class="news__info">
          John Doe,
          <time datetime="2021-18-01 20:32">
            Nov 18th, 20:32
          </time>
        </div>
      </div>
      <div class="news__block">
        <h3 class="news__title">Title of the first news article</h3>
        <div class="news__text">
          <p>Et culpa et et. Excepturi maxime reiciendis sint consequatur eum voluptatibus corrupti. Facilis voluptatum
            mollitia illo
            omnis esse. Et commodi excepturi rerum numquam et reprehenderit doloribus et quia. Debitis aspernatur ullam ab
            voluptates vitae debitis. Est qui autem eum nisi sunt voluptas aliquam.
          </p>
        </div>
        <div class="news__info">
          John Doe,
          <time datetime="2021-18-01 20:32">
            Nov 18th, 20:32
          </time>
        </div>
      </div>
    </div>
  </div>
</div>
