<div class="role">
  <div class="container">
    <div class="role__logo">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="Civil Activity Quest">
        <span>
          Civil Activity Quest
        </span>
      </a>
    </div>
    <div class="role__content">
      <div class="role__row role__row--active">
        <div class="role__arrow role__arrow--left-top"></div>
        <div class="role__arrow role__arrow--right-top"></div>
        <div class="role__card card card--active">
          <div class="card__about">
            <img src="img/avatar.png" alt="Avatar">
            <h3>
              Студент
            </h3>
          </div>
          <div class="card__info">
            <p>
              Все починається зі студенства! Пам'ятай про свої ресурси: гроші, репутацію, легальність та нерви. Цікаво як ти їх використаєш.
            </p>
          </div>
          <div class="card__button-wrapper">
            <button class="card__button">
              Розпочати
            </button>
          </div>
        </div>
      </div>
      <div class="role__row">
        <div class="role__card card ">
          <div class="card__about">
            <img src="img/avatar.png" alt="Avatar">
            <h3>
              Власник <br>
              локального бізнесу
            </h3>
          </div>
          <div class="card__info">
            <p>
              Щоб відкрити, треба пройти “Студента” з показником “Гроші” > 50
            </p>
          </div>
          <div class="card__button-wrapper">
            <button class="card__button">
              Розпочати
            </button>
          </div>
        </div>
        <div class="role__card card">
          <div class="card__about">
            <img src="img/avatar.png" alt="Avatar">
            <h3>
              Власник <br>
              локального бізнесу
            </h3>
          </div>
          <div class="card__info">
            <p>
              Щоб відкрити, треба пройти “Студента” з показником “Репутація” > 50
            </p>
          </div>
          <div class="card__button-wrapper">
            <button class="card__button">
              Розпочати
            </button>
          </div>
        </div>
        <div class="role__card card">
          <div class="card__about">
            <img src="img/avatar.png" alt="Avatar">
            <h3>
              Власник <br>
              локального бізнесу
            </h3>
          </div>
          <div class="card__info">
            <p>
              Щоб відкрити, треба пройти “Студента” з показником “Легальність” > 50
            </p>
          </div>
          <div class="card__button-wrapper">
            <button class="card__button">
              Розпочати
            </button>
          </div>
        </div>
      </div>
      <div class="role__row">
        <div class="role__arrow role__arrow--left-bottom"></div>
                <div class="role__arrow role__arrow--right-bottom"></div>
        <div class="role__card card">
          <div class="card__about">
            <img src="img/avatar.png" alt="Avatar">
            <h3>
              АКТИВНИЙ
              ГРОМАДЯНИН
            </h3>
          </div>
          <div class="card__info">
            <p>
              Щоб відкрити, треба пройти всіх персонажів другого рівня
            </p>
          </div>
          <div class="card__button-wrapper">
            <button class="card__button">
              Розпочати
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
