<div class="rooms">
  <div class="container">
    <div class="subtitle">
      <h2>
        List of rooms
      </h2>
      <p>Click to join</p>
    </div>
   <div class="rooms__main-button">
     <a href="#" class="button button--small-font button--medium button--center">
       Main venue
     </a>
   </div>
    <div class="rooms__content">
      <a href="#" class="button button--small-font button--medium button--white">
        Military
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Business
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Bureaucrafts
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Law enforcement officers and judges
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Vulnerable citizens
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Artists and workers of the cultural sphere
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Media
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Civil activist
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Pensioners
      </a>
      <a href="#" class="button button--small-font button--medium button--white">
        Public sector employees
      </a>
    </div>
  </div>
</div>
