.nav
	padding: 20px 0
	ul
		display: flex
		align-items: center
		justify-content: center
		li
			margin: 0 25px
			+r(576)
				margin: 0 5px
	&__link
		text-align: center
		display: block
		font-size: 16px
		font-weight: 500
		color: $backgroundColor
		transition: all .5s ease
		&:hover, &:focus
			opacity: .8
		&--active
			color: $backgroundColor
			&:hover, &:focus
				opacity: 1
