.status-bar
	display: flex
	margin: 0 -8px
	flex-wrap: wrap
	&__card
		margin: 0 8px 8px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	&__image
		width: 48px
		height: 48px

	&__title
		font-size: 14px
		line-height: 1.5em
		margin-bottom: 4px

	&__points
		font-size: 18px
		width: 102px
		font-weight: 700
		letter-spacing: .1em
		text-transform: uppercase
		text-align: center
		+r(767)
			width: auto
		+r(576)
			max-width: 78px

