.icon-laws {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-news {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-rooms {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-stats {
  width: 1em;
  height: 1em;
  fill: initial;
}
